<div class="container paddingTop" *ngIf="productDetails">
    <div class="row py-5 align-items-center">
        <div class="col-md-4">
            <owl-carousel-o [options]="customOptions">
    
                <ng-container *ngFor="let slide of productDetails.images">
                    <ng-template carouselSlide>
                        <img [src]="slide" />
                    </ng-template>
                </ng-container>
    
            </owl-carousel-o>
        </div>
        <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-center">
                <div class="brand bg-secondry w-50 fw-bolder h4 p-2 mb-2">{{productDetails.brand.name}}</div>
    
             <div class="div-heart mb-1">
                <p-toast></p-toast>
                <button type="button" pButton pRipple  
                  class="heart ms-auto btnprime d-flex justify-content-center">
                  <i  (click)="addWishList(productDetails.id, $event)" 
                  class=" fa-solid fa-heart fs-3 text-main" 
                  [ngClass]="{'text-danger' :  addIdHeart.join(' ').includes(productDetails.id)}"></i></button>
            
          
                 </div> 
        </div>
                <h2 class="h2 text-main fw-bold mb-3">{{productDetails.title}}</h2>
          
    
           <span class="spanCat ps-1 badge bg-secondry mb-3">{{productDetails.category.name}}</span>
    
            <p>{{productDetails.description}}</p>
    
            <div class="d-flex align-items-center justify-content-between clear">
                <span class="fw-bold  text-secondry">{{productDetails.price}} EGP</span>
                <div>
                    <i class="fas fa-star rating-color me-1"></i>
                    <span class="fw-bold  ">{{productDetails.ratingsAverage}}</span>
                </div>
    
            </div>

            <p-toast></p-toast>
    <button type="button" pButton pRipple  (click)="addToCart(productDetails.id)"  class="p-button-success w-100 text-white my-2 btnCart d-flex justify-content-center"><i class="fa-solid fa-cart-shopping"></i></button>

    
        </div>
    </div>
</div>