<div class="main vh-100 d-flex align-items-end justify-content-center mb-4 position-relative">
    <img src="assets/images/img-main-slider/banner-bg.png" class="w-100"/>
    <div class="container slider">
        <owl-carousel-o [options]="customOptions" class="text-center mt-4">

            <ng-template carouselSlide id="owl-slide-1" dataHash="one">
                <div>
                    <p class="fs-1 w-md-50 mx-auto fw-bolder mb-0">GET START
                    </p>
                    <p class="fs-1 w-md-50 mx-auto fw-bolder">
                        YOUR FAVRIOT SHOPING</p>
                    <button class="btn btn-dark mb-3">BUY NOW</button>
                    <p class="fs-1 fw-bolder text-muted">Man & Woman Fashion</p>
                </div>
            </ng-template>
            <ng-template carouselSlide id="owl-slide-2" dataHash="two">
                <div>
                    <p class="fs-1 w-md-50 mx-auto fw-bolder">GET START
                    </p>
                    <p class="fs-1 w-md-50 mx-auto fw-bolder">
                        YOUR FAVRIOT SHOPING</p>
                    <button class="btn btn-dark mb-3">BUY NOW</button>
                    <p class="fs-1 fw-bolder text-muted">Man & Woman Fashion</p>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</div>