<div *ngIf="step1" class="container paddingTop shadow">
    <h3>Forget password</h3>
    <form class="w-50 mx-auto bg-secondry p-3 rounded" [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
        <label class="mb-2" for="email">Enter Your Email:</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <button class="w-100 btn btn-outline-dark my-3">Forget password</button>
        <p class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center" *ngIf="userMessage" >{{userMessage}}</p>
    </form>
</div>

<div *ngIf="step2" class="container paddingTop shadow">
    <h3>Reset Code</h3>
    <form class="w-50 mx-auto bg-secondry p-3 rounded" [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label class="mb-2" for="code">Reset Code:</label>
        <input formControlName="resetCode" type="text" id="code" class="form-control">
        <button class="w-100 btn btn-outline-dark my-3">Reset Code</button>
        <p class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center" *ngIf="userMessage" >{{userMessage}}</p>

    </form>
</div>

<div *ngIf="step3" class="container paddingTop shadow">
    <h3>Reset password</h3>
    <form class="w-50 mx-auto bg-secondry p-3 rounded" [formGroup]="resetPasswordForm" (ngSubmit)="newPassword()">
        <label class="mb-2" for="email">Enter Your Email:</label>
        <input formControlName="email" type="email" id="email" class="form-control">

        <label class="mb-2" for="password">Reset Password:</label>
        <input formControlName="newPassword" type="password" id="password" class="form-control">
        
        <button class="w-100 btn btn-outline-dark my-3">Reset password</button>
        <p class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center" *ngIf="userMessage" >{{userMessage}}</p>

    </form>
</div>