<div class="d-flex align-items-center justify-content-center vh-100 m-5 paddingTop">
    <div class="contain">
        <div class="back">
         <h2 class="text-center">Sign up</h2>
     
     <div *ngIf="ApiError" class="alert alert-danger">
         {{ApiError}}
     
     </div>
         <form  [formGroup]="registerForm"  (ngSubmit)="register(registerForm)">
     
             <label for="name">Name:</label>
             <input type="text" id="name" formControlName="name" class="form-control mb-4" />
             <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched"  class="alert alert-danger">
                 <p *ngIf="registerForm.get('name')?.getError('required')"><i class="fa-solid fa-circle-exclamation me-2"></i>Name is required</p>
                 <p *ngIf="registerForm.get('name')?.getError('minlength')"><i class="fa-solid fa-circle-exclamation me-2"></i>Name minimum length is : 3 character</p>
                 <p *ngIf="registerForm.get('name')?.getError('maxlength')"><i class="fa-solid fa-circle-exclamation me-2"></i>Name maximum length is : 10 character</p>
      
             </div>
     
             <label for="email">Email:</label>
             <input type="email" id="email" formControlName="email" class="form-control mb-4" />
             <div  *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger">
             <p *ngIf="registerForm.get('email')?.getError('required')"><i class="fa-solid fa-circle-exclamation me-2"></i> Email is required</p>
             <p *ngIf="registerForm.get('email')?.getError('email')"><i class="fa-solid fa-circle-exclamation me-2"></i> Email not valid</p>
      
             </div>
     
     
             <label for="password">Password:</label>
             <input type="password" id="password" formControlName="password" class="form-control mb-4" />
             <div  *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger">
                 <p *ngIf="registerForm.get('password')?.getError('required')"><i class="fa-solid fa-circle-exclamation me-2"></i> Password is required</p>
                 <p *ngIf="registerForm.get('password')?.getError('pattern')">
                    <i class="fa-solid fa-circle-exclamation me-2"></i> 
                    Password pattern wrong (at least one letter uppercase)</p>
          
                 </div>forg
     
             <label for="rePassword">RePassword:</label>
             <input type="password" id="rePassword" formControlName="rePassword" class="form-control mb-4" />
             <div  *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert alert-danger">
                 <p *ngIf="registerForm.get('rePassword')?.getError('required')"><i class="fa-solid fa-circle-exclamation me-2"></i> RePassword is required</p>
                 <p *ngIf="registerForm.get('rePassword')?.getError('rePasswordNotMatch')"><i class="fa-solid fa-circle-exclamation me-2"></i> password and rePassword should be matched</p>
          
                 </div>
     
             <label for="phone">Phone:</label>
             <input type="tel" id="phone" formControlName="phone" class="form-control mb-4" />
             <div  *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert alert-danger">
                 <p *ngIf="registerForm.get('phone')?.getError('required')"><i class="fa-solid fa-circle-exclamation me-2"></i> Phone is required</p>
                 <p *ngIf="registerForm.get('phone')?.getError('minlength')"><i class="fa-solid fa-circle-exclamation me-2"></i> Phone minimum is : 10 number</p>
                 <p *ngIf="registerForm.get('phone')?.getError('maxlength')"><i class="fa-solid fa-circle-exclamation me-2"></i> Phone maximum is : 13 number</p>
          
                 </div>
     
     
             <button [disabled]="registerForm.invalid" class="btn bg-secondry d-block ms-auto">
                 <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                 <span *ngIf="!isLoading">Signup</span>
             </button>

         </form>
         <a routerLink="/forgetpassword">Forget password</a>

        </div>
     </div>
</div>